<div>
  <select class="selectpicker">
    <option>Mustard</option>
    <option>Ketchup</option>
    <option>Barbecue</option>
  </select>
</div>
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :favourite_foods, collection: [['eggs', 0], ['cereal', 1]], input_html: { class: 'myselector'} %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
