<!DOCTYPE html>
<html>
  <head>
    <title>Rails7BStestapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
    <script>
      $(function() {
        console.log("Hello from app/views/layouts/application.html.erb");
        	$('select').selectpicker();
      });
    </script>
  </body>
</html>
